
.header {
    border-bottom: 1px solid map-get($colors , "header-border-color" );
    background-color: map-get($colors , "main-white-color" );
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}